@import url('https://fonts.cdnfonts.com/css/pink-rocket');
@import url('https://fonts.cdnfonts.com/css/days-sans-black');
@import url('https://fonts.cdnfonts.com/css/monomod');


*{
  margin: 0;
  padding: 0;
  /*box-sizing: border-box ruins navbar*/
 }
 
 body {
  background: rgb(0, 0, 0);
  font-family: monospace, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
 }
 
 code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
 }
 
 .App{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
 }
 
 .AppX{
  
 
 }
 
 :root {
  --bg:  #000000;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 50px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
 }
 
 ul {
  list-style: none;
  margin: 0;
  padding: 0;
 }
 
 a {
  color: white;
  text-decoration: none;
 }
 
 
 /* <nav> */
 .navbar {
  z-index: 100; /*For absolute stars hovering over*/
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: var(--bg);
  padding: 10px 1rem; 
  border-bottom: 1px solid white;
  color: white;
 }

 
 /* <ul> */
 .navbar-nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
 }

 .navWrap{ /*home and profile pic */
  position: fixed;
  left: 0;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

 .navicon{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(68, 68, 68);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navicon:hover{
    background-color: rgb(129, 114, 114);
    transition: all .9s ease;

}


.staricon:hover{
  background-color: red;
}

.profilePic{
  margin-left: 20px;
  padding: 3px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.starMeButton{
  margin-left: 20px;
  padding: 3px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.profilePic:hover{
  background-color: rgb(75, 73, 73);
  transition: ease-in .4s;
}


.imgAvatar{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

 }



.arrow{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: fixed;
  right: 0;
  margin-right: 10px;
  cursor: pointer;
}

.arrow:hover{
  background-color: rgb(204, 12, 12);
  transition: all .9s ease;

}


 .searchBarWrap{
   /*encapsulates entire search bar*/
 }
 

.searchBarWrap .searchBar{ /*holds search input*/
  position: absolute;
  left: 0; 
  right: 0; 
  top: 0;
  margin-top: 20px;
  margin-inline: auto; 
  width: fit-content;
  /*
  top: 0;
  left: 0;
  right: 0;
  margin-left: 20%;
  margin-top: 20px;
  */
 
}

.searchBarWrap .searchBar input{
  width: 630px;
  height: 25px;
  padding: 5px;
  font-size: 20px;
  border-radius: 20px;

}

.searchBar input::placeholder{
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: 'Days Sans Black', sans-serif;
}


.userSearchDropdown{
  position: absolute;
  left: 0; 
  right: 0; 
  top: 0;
  margin-top: 60px;
  width: 640px;
  background-color: black;
  margin-inline: auto; 
  max-height: 300px;
  height: auto;
  overflow-y: scroll;
  cursor: pointer;
  /*width: fit-content;*/
  
 }
 
 .userSearchDropdownHidden{
  display: none;
 }
 
 
 .userSearchDivs{
  font-family: 'Days Sans Black', sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  height: 50px;
  border: 1px solid black;
  padding: 2px;
 }
 
 .userSearchDivs:hover{
  transition: all .9s ease;
  background-color: rgb(204, 12, 12);
 }
 

 .userSearchNames{
  margin-left: 5px;
 }

 

 /*UNIVERSAL STUFF*/
 
 .bi{
  color: white;
  margin-left: 10px;
  font-size: 17px;
  cursor: pointer;
}

.bi-trash{
  color: white;
}

.bi:hover{
  color: rgb(204, 12, 12);
  transition: all .9s ease;
  border-radius: 2px;
}

.like-btn{
  cursor: pointer;
}


.starMeSpotlight{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  /*
  margin-top: -20px;
  margin-right: 20px;
  padding-top: 0px;
  height: 250px;
  width: 400px;
  color: white;
  border: 1px solid white;
  display: flex;
  align-items: center;
  flex-direction: column;
  */
}

.innerSpotlight{
  font-family: 'Days Sans Black', sans-serif;
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-top: 20%;
  margin-inline: auto; 
  width: fit-content;
  height: 250px;
  width: 400px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: black;
  border: 1px solid white;
}






@media all and (max-width: 500px){
  .innerSpotlight{
    width: 300px;
  }
}

.likebtn{
  cursor: pointer;
}


.innerSpotlight h2{
  margin-top: 10px;
}

.topUsers{
  color: white;
  height: 100%;
  width: 100%;
  
}

.bi{
  color: rgb(247, 247, 247);
  margin-left: 10px;
  font-size: 17px;
  cursor: pointer;
}

.topuserWrap{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
  padding: 5px;
}

.topuserWrap:hover{
  background-color: rgb(204, 12, 12);
  margin-right: 10px;
  border-radius: 10px;
  transition: ease-in .6s;
}

.topuserWrap p{
  margin-left: 10px;
  margin-right: 10px;
}

.postings .postingsLeft .topUsers .imgAvatar{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
} 



/*FOR ratings */
.rating{
  margin-top: 15px;
  width: 200px;
  height: 80px;
}

.radioBtn{
  display: none;
}

.star{
  cursor: pointer;
}

.reviewStarRating{
  height: 40px;
  width: 40px;
  color: black;
}


.ratingStars{
  width: 200px;
  height: 80px;

}





/*
.pageNotFound{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.pageNotFound a{
  color: black;
}

*/


::-webkit-scrollbar {
  width: 5px;
}
  
     /* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
     
     /* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}



.dropDownSettings{
  position: fixed;
  background-color: black;
  color: white;
  top: 4.4rem;
  right: 0;
  height: 120px;
  width: 167x;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
}

.theUL li{
  margin-bottom: 15px;
  padding: 3px;
  font-size: 20px;
  cursor: pointer;
}

.theUL li:hover{
  background-color:rgb(204, 12, 12);
  transition: ease-in .5s;
  border-radius: 4px;
  padding: 3px;
}

.dropDownHidden{
  display: none;
}

/*SIGNUP*/
.bi-x-circle{
  margin-right: 5px;
  font-size: 13px;
}




@media all and (max-width: 660px){
  .navbar{
    position: fixed;
    bottom: 0;
  }

  .searchBarWrap .searchBar{ /*holds search input*/
    position: fixed;
    left: 0; 
    right: 0; 
    top: -9px;
    margin-inline: auto; 
    width: fit-content;
   
  }

  .searchBarWrap .searchBar .specify{
    width: 350px;
    font-size: 15px;
  }

   .searchBarWrap .userSearchDropdown {
    position:fixed;
    left: 0; 
    right: 0px; 
    /*top: -880px;*/
    top:-12px;
    width: 368px;
    background-color: black;
    margin-inline: auto; 
    max-height: 300px;
    height: auto;
    overflow-y: scroll;
    cursor: pointer;

   }

   .userSearchDivs{
    font-size: 16px;
    height: 40px;
   }

   .imgAvatar{
    width: 40px;
    height: 40px;
   }

   .dropDownSettings{
    position: absolute;
    right: 31px;
    top: -140px;
    height: 120px;
    width: 167x;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
  }
   
 }

 @media all and (max-width: 450px){

  .navbar{
    position: fixed;
    bottom: 0;
  }

  .searchBarWrap .searchBar{ /*holds search input*/
    position: fixed;
    left: 0; 
    right: 0; 
    top: -9px;
    margin-inline: auto; 
    width: fit-content;
   
  }

  .searchBarWrap .searchBar .specify{
    width: 300px;
    font-size: 15px;
  }

  .searchBarWrap .userSearchDropdown {
    position:fixed;
    left: 0; 
    right: 0px; 
    /*top: -880px;*/
    top:-12px;
    width: 315px;
    background-color: black;
    margin-inline: auto; 
    max-height: 300px;
    height: auto;
    overflow-y: scroll;
    cursor: pointer;

   }

   .searchBar input::placeholder{
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: 'Days Sans Black', sans-serif;
  }

   .userSearchDivs{
    font-size: 16px;
    height: 40px;
   }

   .imgAvatar{
    width: 45px;
    height: 45px;
   }

   .dropDownSettings{
    position: absolute;
    right: 31px;
    top: -140px;
    height: 120px;
    width: 167x;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
  }

  .bi-check, .bi-x{
    margin-left: -90px;
  }
   
   
 }

