
*{
  margin: 0;
  padding: 0;
  /*box-sizing: border-box ruins navbar*/
 }
 
 body {
  margin: 0;
  background: white;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }
 
 code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
 }
 
 .App{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
 }
 
 
 .AppX{
 
 
 }
 
 
 :root {
  --bg:  #000000;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 50px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
 }
 
 
 ul {
  list-style: none;
  margin: 0;
  padding: 0;
 }
 
 
 a {
  color: var(--text-color);
  text-decoration: none;;
 }
 
 
 /* Top Navigation Bar */
 
 
 /* <nav> */
 .navbar {
  z-index: 1; /*For absolute stars hovering over*/
  position: fixed;
  height: var(--nav-size);
  width: 100vw;
  background-color: var(--bg);
  padding: 10px 1rem;
  border-bottom: var(--border);
  color: white;
 }
 
 
 /*
 @media all and (max-width: 767px){
  .navbar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 70px;
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
    color: white;
   
  }
 
 
  .navbar ul{
    display: flex;
    flex-direction: row;
    background-color: gold;
  }
 
 
  .nav-item a {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: blue;
  }
 
 
  .nav-item {
    --button-size: calc(var(--nav-size) * 0.8);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #484a4d;
    border-radius: 50%;
    padding: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
 
 
  .navbar .navbar-nav .dropdown {
    position: absolute;
    top: -162px;
    width: 300px;
    transform: translateX(50%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
   .offscreentwo {
    position: absolute;
    left: -9999px;
  } 
 }
 */
 
 
 /* <ul> */
 .navbar-nav {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
 }
 
 /* <li> */
 .nav-item {
  width: calc(var(--nav-size) * 1.5);
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 
 .arrowToEnd{
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 50px;
 }
 
 /* Icon Button */
 .icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
 }
 
 
 .icon-button:hover {
  filter: brightness(1.2);
 }
 
 
 .icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
 }
  
 /* Dropdown Menu */
 .dropdown {
  position: absolute;
  top: 65px;
  width: 150px;
  transform: translateX(-55%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
 }
 
 .menu {
  width: 100%;
 }
 
 .menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
 }
 
 
 .menu-item .icon-button {
  margin-right: 0.5rem;
 }
 
 .menu-item .icon-button:hover {
  filter: none;
 }
 
 .menu-item:hover {
  background-color: #525357;
 }
 
 .icon-right {
  margin-left: auto;
 }
 
 /* CSSTransition classes  */
 .menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
 }
 .menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
 }
 .menu-primary-exit {
  position: absolute;
 }
 .menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
 }
 
 .menu-secondary-enter {
  transform: translateX(110%);
 }
 .menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
 }
 .menu-secondary-exit {
 
 
 }
 .menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
 }
 

 /****************************************
 *********************************************
 ****************USER SEARCH*************************8
 *******************************************8
 ******************************************888
 ***********************************/

 .searchBar input{
  position: absolute;
  left: 0;
  top: 18px;
  width: 450px;
  height: 10px;
  margin-left: 250px;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
 }
 
 
 .userSearchDropdown{
  position: absolute;
  background-color: white;
  color: black;
  left: 256px;
  top: 52px;
  width: 460px;
  border: 1px solid black;
  max-height: 300px;
  height: auto;
  overflow-y: scroll;
  cursor: pointer;
 }
 
 
 .userSearchDropdownHidden{
  display: none;
 
 
 }
 
 
 .userSearchDivs{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  height: 50px;
  border: 1px solid black;
  padding: 2px;
 }
 
 
 .userSearchDivs:hover{
  transition: all .4s ease;
  background-color: rgb(196, 187, 187);
 }
 
 .avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
 }

 .imgAvatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
 }

 




  /****************************************
 *********************************************
 ****************PROFILE REVIEW *************************8
 *******************************************8
 ******************************************888
 ***********************************/
 



.rating{
  margin-top: 15px;
  width: 200px;
  height: 80px;
}

.radioBtn{
  display: none;
}

.star{
  cursor: pointer;
}

.reviewStarRating{
  height: 40px;
  width: 40px;
  color: black;
}


.ratingStars{
  width: 200px;
  height: 80px;

}

.theTarget .avatar{
  background-color: grey;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}




