 /****************************************
 *********************************************
 ****************SETTINGS *************************8
 *******************************************8
 ******************************************888
 ***********************************/

 .editProfile{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /*background-color: red;*/
   }

   .editProfile h1{
    font-size: 50px;

   }

   .editBio{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: blue;*/
   }

   .editProfile form{
    width: 100%;
    height: 170px;
   }

   .editProfile form textarea{
      width: 100%;
      height: 130px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      font-size: 16px;
      resize: none;
   }

   .editBio button{ 
        margin-top: 0px;
        height: 40px;
        width: 100%;
        background-color: rgb(204, 47, 47);
        border-radius: 10px;
        border: 1px solid black;
        color: white;
        cursor: pointer;
    }

    .upload{
        /*background-color: purple;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 200px;
    }

    .upload input[name=file]{
        height: 40px;
        margin-top: 10px;
        margin-left: 80px;
    }

    .upload button{
        height: 28px;
        width: 120px;
        border-radius: 10px;
        background-color: rgb(204, 47, 47);
        color: white;
        cursor: pointer;
    }

    .charLimit{
        color: red;
    }

    .hidden{
        color: black;
    }
 

  
  
    @media all and (max-width: 374px){

        .editProfile h1{
            font-size: 35px;
        
        }

        .editBio{
            width: 340px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /*background-color: blue;*/
           }

        .upload{
            /*background-color: purple;*/
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 340px;
            height: 200px;
        }

    }