   .backgroundImg{
    background: #ffffff;
    height: 100vh;
    width: 100vw;
    background: url("../../public/redstar.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
   }
   
   .backgroundImg:before{
    content: "";
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.8;
      width: 100%;
      height: 100%;
   }
  
   
   .loginWrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    padding: 70px;
    width: 450px;
    transform: translate(-50%, -50%);
    background: rgba(5, 5, 5, 0.75);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
   }

   .loginWrapper h1{
      color: #fff;
      font-size: 2rem;
     }
     
     
     .loginWrapper form{
      color: white;
      height: 450px;
      margin-top: 10px;
      margin-bottom: 0px;
    
     }
  
    
     
     
     form .loginField{
     
      margin-bottom: 1.3rem;
     }
     
     ::placeholder{
      color:rgb(255, 255, 255);
     }
     
     .loginField input{
      height: 2rem;
      width: 25rem;
      background: #000000;
      border: 1px solid white;
      outline: none;
      border-radius: 5px;
      color: #fff;
      font-size: 1rem;
      padding: 4px;
     }
     
  
     .loginField input:focus{
        border: 1px solid red;
     }


   form button{
      width: 26rem;
      height: 3rem;
      font-size: 1rem;
      background: #d60000;
      color: #fff;
      font-weight: 500;
      border-radius: 5px;
      border: none;
      outline: none;
      cursor: pointer;
     }
     
    
     form button:hover {
      transition: 0.5s ease-in;
      background: #680000;
     }


     .loginWrapper a:hover{
      text-decoration: underline;
     }
     
     /*Already have an account?*/
     .loginWrapper :where(label, p, a){
      color: #b3b3b3;
     }
     
    
     
     .loginWrapper p a{
      color: #fff;
     }
    
    
     
     .loginWrapper p {
      margin-left: 0px;
      margin-top: 15px;
     
     }

     
    
     
  
     .hide {
      display: none;
     }
     
     .offscreen {
      position: absolute;
      left: -9999px;
     }
     
     

   .valid {
      font-size: 24px;
      color: green;
      position: absolute;
      margin-left: 370px;
      margin-top: 10px;
     }
     
     
     .invalid {
      font-size: 24px;
      color: red;
      position: absolute;
      margin-left: 370px;
      margin-top: 10px;
     }

     .errmsg{
      background-color: rgb(0, 0, 0);
      color: red;
      font-size: 1rem;
      
     
      width: 395px;
   }

   .theErrors{
      color: red;
      font-size: .9rem;
      margin-bottom: 5px;
      width: 95%;

   }
    

   @media all and (max-width: 500px){

      .loginWrapper{
         width: 300px;
      }
     
      form .loginField input{
     
         width: 19rem;
      
        }

      .loginWrapper button{
         width: 19.5rem;
      
         background-color:#d60000;
         color: #fff;
         font-weight: 500;
         border-radius: 5px;
         border: none;
         outline: none;
         cursor: pointer;
     
        }
      

   }
   
   
  

   
 
  
   
   
   
   .instructions {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    font-size: 13px;
    border-radius: 0.5rem;
    background: transparent;
    color: red;
   }
   
   .bi-envelope, .bi-lock{
    position: absolute;
    margin-left: -520px;
    margin-top: 10px;
    color: white;
   }
   
   .instructions .bi-x-circle{
    position: absolute;
    margin-left: -16px;
    margin-top: 2px;
   }

   