   .backgroundImg{
    background: #ffffff;
    height: 100vh;
    width: 100vw;
    background: url("../../public/redstar.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
   }
   
   .backgroundImg:before{
    content: "";
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.8;
      width: 100%;
      height: 100%;
   }
  
   
   .loginWrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    padding: 70px;
    width: 450px;
    transform: translate(-50%, -50%);
    background: rgba(5, 5, 5, 0.75);
   }

   @media all and (max-width: 400px){

      .loginWrapper{
         width: 300px;
      }
     
      form .loginField input{
         height: 50px;
         width: 300px;
         background: #333;
         border: none;
         outline: none;
         border-radius: 4px;
         color: #fff;
         font-size: 1rem;
         padding: 4px;
         margin: 0px;
        }

      .loginWrapper button{
         width: 309px;
         padding: 16px 0;
         font-size: 1rem;
         background: #c53232;
         color: #fff;
         font-weight: 500;
         border-radius: 4px;
         border: none;
         outline: none;
         cursor: pointer;
         transition: 0.1s ease;
        }
      

   }
   
   
   .loginWrapper h1{
    color: #fff;
    font-size: 2rem;
   }
   
   
   .loginWrapper form{
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
  
   }

   form{
      height: 450px;
   }
   
   
   form .loginField{
    height: 50px;
    position: relative;
    margin-bottom: 20px;
   }
   
   ::placeholder{
    color: rgb(151, 142, 142);
   }
   
   .loginField input{
    height: 50px;
    width: 400px;
    background: #333;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    padding: 4px;
    margin: 0px;
   }
   
   
   /*
   .loginField input:is(:focus, :valid){
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    color: #8c8c8c;
    transition: all 0.1s ease;
   }
   
   
   .loginField input:is(:focus, :valid)~label{
    font-size: 0.75rem;
    transform: translateY(-130%);
   }
   */
   
  

   form button{
    width: 409px;
    padding: 16px 0;
    font-size: 1rem;
    background: #c53232;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.1s ease;
   }
   
  
   form button:hover {
    transition: 0.5s ease-in;
    background: #850909;
   }
   
   
   
   .loginWrapper a:hover{
    text-decoration: underline;
   }
   
   /*Already have an account?*/
   .loginWrapper :where(label, p, a){
    color: #b3b3b3;
   }
   
  
   
   .loginWrapper p a{
    color: #fff;
   }
  
  
  
   .loginWrapper p {
    padding-left: 13px;
    margin-top: 20px;
   
   }
  
   

   .hide {
    display: none;
   }
   
   .offscreen {
    position: absolute;
    left: -9999px;
   }
   
   
   .valid {
    font-size: 24px;
    color: green;
    position: absolute;
    margin-left: 370px;
    margin-top: 10px;
   }
   
   
   .invalid {
    font-size: 24px;
    color: red;
    position: absolute;
    margin-left: 370px;
    margin-top: 10px;
   }
  
   
   .instructions {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    font-size: 13px;
    border-radius: 0.5rem;
    background: transparent;
    color: red;
   }
   
   .bi-envelope, .bi-lock{
    position: absolute;
    margin-left: -520px;
    margin-top: 10px;
    color: white;
   }
   
   .instructions .bi-x-circle{
    position: absolute;
    margin-left: -16px;
    margin-top: 2px;
   }

   .errmsg{
      background-color: rgb(153, 92, 103);
      color: red;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
      width: 395px;
   }