
 
   .postings{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   }

   .postings .createPostSection{
    width: 700px;
    height: 250px;
   }
   
   
   .postings .createPostSection form{
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 800px;
   }
  
   .postings .createPostSection form textarea{
    width: 700px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: white;
    background-color: #161515;
    font-size: 16px;
    resize: none;
   }
   
   
   .postings .createPostSection form button{
    width: 700px;
    background-color: rgb(204, 47, 47);
    border: 1px solid black;
    color: white;
    border-radius: 10px;
    margin-top: 5px;
 
  
   }
   
   
   .postings .createPostSection form button:hover{
    border: 1px solid rgb(204, 49, 49);
    transition: all .7s ease;
   }
   
   
   .post{
    width: 700px;
    border: 1px solid white;
    height: auto; /*Need to stretch container */
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 0px;
   }
   
   
   .userWrapper{
    /*border: 1px solid rgb(0, 0, 0);*/
    min-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    
   }

   
   
   .post .userWrapper .imgAvatar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: grey;
    border-radius: 50%;
    color: white;
    margin-top: 5px;
   }

   .post .theTarget{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
   }

   .post .theTarget .avatar .imgAvatar{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: grey;
      border-radius: 50%;
      color: white;

   }

   .nameAndRating{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      
   }

   .nameAndRating .postingsStarRating{
      position: absolute;
      margin-left: 440px;
  
   }
   
   
   .bodyAndFooter .username a{
    color: rgb(252, 252, 252);
    font-weight: 800;
   }
   
   
   .bodyAndFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
   }
   
   
   .bodyAndFooter .body{
    
    padding: 10px;
    min-height: 90px;
    
   }
   
   .bodyAndFooter .body p{
    word-wrap: break-word;
    color: white;
   }

   .avatar{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: grey;
   }

  
   .theTarget{
    display: flex;
    flex-direction: column;
    min-width: 60px;
    align-items: center;
    justify-content: center;
    color: white;
  
   }
   
   .bodyAndFooter .footer{
    display: flex;
    padding: 1px;
    justify-content: space-between;
    color: white;
 
   }
   

   .footer label{
      color: white;
   }
   
   
   
   