
  .profileApp{
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
   }

  .profileApp .profileUsername{
    /*background-color: blue;*/
    font-size: 100px;
  }

  .profileApp .userRating{
    margin-top: 10px;
  }

  .profileTitleWrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .profileTitleWrap .profileEdit{
    height: 40px;
    width: 100px;
   
    border-radius: 10px;
    position: absolute;
    right: 0;
    margin-right: 20px;
  
    color: white;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;;
    cursor: pointer;

  }

  .profileLinks{
    margin-top: 10px;
   
    display: flex;
    width: 300px;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
  }

  .profileLinks li a{
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .profileLinks li a img{
    margin-right: 5px;
    height: 20px;
    width: 20px;
    color: white;
   
  }



  .profileApp .profileBio{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
  
    border-radius: 10px;
    margin-top: 0px;
    min-height: 100px;
    width: 700px;
    font-size: 21px;
    padding: 2px;

    

    white-space: pre-wrap;
    overflow-wrap: anywhere;
    overflow: auto;

  }


  .profileApp .profileBioBtn{
    margin-top: 0px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    /*background-color: rgb(204, 47, 47);*/
    border: 1px solid rgb(255, 255, 255);
    color: white;
    cursor: pointer;
  }

  .profileReview{
    width: 800px;
    /*background-color: red;*/
    height: 350px;
  }

  .profileReview .writeReview{
    margin-bottom: 0px;

  }

  .profileApp h2{
    margin-top: 10px;
  }

  .hidden{ /*blends in with background*/
    color: black;
  }

  .profileReview form{

    height: 300px;
   
    display: flex;
    flex-direction: column;
    width: 100%;
   }

   .redInputSize{
    
    color: red;
 }

 .profileReview form .charLimit{
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
 }
 
 .profileReview form p{
  margin-top: 5px;
  margin-bottom: 5px;
 }

 .errorMessage{
  color: rgb(255, 0, 0);
 }



   .profileReview form textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    color: rgb(0, 0, 0);

 }

  .profileReview form button{
      margin-top: 10px;
      width: 100%;
      background-color: rgb(204, 12, 12);
      border: 1px solid black;
      color: white;
  }

  .profileReview form button:hover{
      border: 1px solid rgb(83, 15, 15);
      transition: all .7s ease-in;
  }

  .profileApp .profilePageContainer{
  
      width: 800px;
      height: auto;
      /*background-color: aqua;*/
  }

  .profileApp .profilePageContainer .listOfPosts{
    width: 100%;
    margin-top: 10px;
    /*background-color: bisque;*/
  }

  .profileApp .profilePageContainer .listOfPosts .profilePost{
    /*background-color: purple;*/
    margin-top: 0px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: white;
    height: auto; /*Need to stretch container */
   }

   .userWrapper{
    border: 0px solid rgb(255, 255, 255);
    width: 80px;
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: white;
   }

   .username{
    color: white;
    font-weight: 800;
   }
   
  .imgAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
   }

   .profileAvatar{
    width: 200px;
    height:200px;
    border-radius: 50%;
    background-color: grey;
   }

   .listOfPosts .profilePost .profileBodyAndFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    color: white;
   }


   .reviewStarRating{
    /*background-color: rgb(184, 184, 71);*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;

   }
   
   .ratingStars{

   }

   .profileApp .profileBodyAndFooter .profileBody{
    padding: 10px;
    /*activates scroll bar which is styled in index.css*/
    min-height: 90px;
    max-height: 400px;
    color: white;
    /*TO KEEP WHITE SPACES */
    overflow: auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
   }

   .listOfPosts .profilePost .profileFooter{

    display: flex;
    padding: 2px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
   }

  
   @media all and (max-width: 805px){
    .profileApp .profileUsername{
      /*background-color: green;*/
      font-size: 70px;
    }
  
    .profileApp .profileBio{
      margin-top: 10px;
      min-height: 100px;
      width: 400px;
      font-size: 20px;
      padding: 4px;
    }

    .profileReview{
      width: 600px;
    }

    .profileApp h2{
     
      font-size: 20px;
      /*background-color: rgb(211, 211, 53);*/
    }

    .profileApp .profilePageContainer{
      width: 600px;
      height: auto;
      /*background-color: aqua;*/
    }

  }

  @media all and (max-width: 600px){
    .profileApp .profileUsername{
      /*background-color: rgb(134, 32, 112);*/
      font-size: 50px;
    }
  
    .profileApp .profileBio{
      margin-top: 10px;
      min-height: 100px;
      width: 300px;
      font-size: 13px;
      padding: 4px;
    }

    .profileReview{
      width: 320px;
    }

    .profileReview .writeReview{

    }

    .profileApp .profilePageContainer{
      width: 350px;
      height: auto;
      /*background-color: aqua;*/
    }

  }
  
  @media all and (max-width: 500px){

    .profileTitleWrap .profileEdit{
      height: 30px;
      width: 80px;
      border-radius: 10px;
      position: absolute;
      right: 0;
      z-index: -1;
      margin-top: 160px;
      margin-right: 20px;
      color: white;
      font-size: 12px;
      background-color: rgb(0, 0, 0);
      border: 1px solid white;;
      cursor: pointer;
  
    }
    .profileApp .profileUsername{
      /*background-color: rgb(134, 32, 112);*/
      font-size: 30px;
    }
  
    .profileApp .profileBio{
      margin-top: 10px;
      min-height: 100px;
      width: 300px;
      font-size: 12px;
      padding: 4px;
    }

    .profileReview{
      width: 350px;
    }

    .profileReview .writeReview{

    }

    .createdAt{
      font-size: 12px;
    }

    .profileApp .profilePageContainer{
      width: 350px;
      height: auto;
      /*background-color: aqua;*/
    }

    .profileAvatar{
      width: 100px;
      height:100px;
      border-radius: 50%;
      background-color: grey;
     }

  }
  
  
   
   
   
  
  
   
   
   
   
   
   


