@import url('https://fonts.cdnfonts.com/css/santa-cruze');
 
 .backgroundImg{
    background: #ffffff;
    height: 100vh;
    width: 100vw;
    background: url("../../public/redstar.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
   }
   
   .backgroundImg:before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.8;
      width: 100%;
      height: 100%;
   }
   
   .signupWrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    padding: 70px;
    width: 450px;
    transform: translate(-50%, -50%);
    background: rgba(5, 5, 5, 0.75);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
   }

   .signupWrapper h1{
      color: #fff;
      font-size: 2rem;
   }
     
   .signupWrapper form{ 
      height: 450px;
      color: white;
      margin-top: 10px;
    
   }


   form .signupField{
      margin-bottom: 1.3rem;
      
   }

  

   form .theErrors{
      color: red;
      font-size: .9rem;
      margin-bottom: 5px;
      width: 95%;
   }

   ::placeholder{
      color: rgb(255, 255, 255);
   }



   .signupField input{
      height: 2rem;
      width: 25rem;
      background: #000000;
      border: 1px solid white;
      outline: none;
      border-radius: 5px;
      color: #fff;
      font-size: 1rem;
      padding: 4px;
     }

     .signupField input:focus{
      border: 1px solid #d60000;
   }


   form .signupButton{
      width: 26rem;
      height: 3rem;
      font-size: 1rem;
      background: #d60000;
      color: #fff;
      font-weight: 500;
      border-radius: 5px;
      border: none;
      outline: none;
      cursor: pointer;
     }
     
  
     form .signupButton:hover {
      transition: 0.5s ease-in;
      background: #680000;
     }
  


   .signupWrapper a:hover{
      text-decoration: underline;
     }

   .backgroundImg .signupWrapper p {

      padding-left: 0px;
      margin-top: 5px;
      margin-bottom: 5px;
     
     }
    
     
     /*Already have an account?*/
     .signupWrapper :where(label, p, a){
      color: #b3b3b3;
     }
     
     .signupWrapper p a{
      color: #fff;

     }

     .hide {
      display: none;
     }
     
     .offscreen {
      position: absolute;
      left: -9999px;
     }
    
   

   .valid, .invalid {
      font-size: 1.2rem;
      position: absolute;
      margin-left: 370px;
      margin-top: 8px;
     }


     
     .bi-x-circle{
      position: absolute;
      margin-left: -16px;
      margin-top: 2px;
     }
  
     .errmsg{
        background-color: rgb(0, 0, 0);
        color: red;
        padding: 5px;
        font-size: 1rem;
       
       
        width: 395px;
     }
     

   
    

  
   @media all and (max-width: 500px){
      .signupWrapper{
         width: 300px;
      }
      
      form .signupField input{
         width: 19rem;
      }

      form .signupField .signupButton{
         width: 19.5rem;
         background: #d60000;
         color: #fff;
         font-weight: 500;
         border-radius: 5px;
         border: none;
         outline: none;
         cursor: pointer;
        }
        

      
   }
   
  
  
  
   

   
   
   
   
   
   
   
