

  /****************************************
 *********************************************
 ****************SINGLE POST*************************8
 *******************************************8
 ******************************************888
 ***********************************/
 

 .singlePostPage{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
   }
  
  
   .theSinglePost{

    width: 700px;
    border: 1px solid white;
    height: auto; /*Need to stretch container */
    padding: 10px;
    margin-top: 0px;
    color: white;
   }
  
   .singlePostBody{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
   }
  
   .singlePostFooter{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
   }
  
   .singlePostAvatar{
      background-color: grey;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: white;
  
   }
  
   .singlePostUsername{
    display: flex;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    height: 50px;
    width: 100px;
    justify-content: space-around;
   }
  
   .addCommentContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    width: 700px;
    border: 1px solid rgb(0, 0, 0);
   }
  
   .singlePostPage .addCommentContainer textarea{
    min-height: 10px;
    height: auto;
    font-size: 20px;
    padding: 5px;
 
   }
  
  
  .addCommentContainer button{
    margin-top: 10px;
    height: 50px;
    border-radius: 4px;
    background-color: rgb(197, 43, 43);
    color: white;
  
  }


  
  .listOfComments{
    margin-top: 20px;
    border: 1px solid rgb(255, 255, 255);
    width: 780px;
    padding: 20px;
    color: white;
  }
  
  .comment{
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
  }
  
  .commentBody{
    padding: 20px;
    min-height: 60px;
    border: 1px solid rgb(0, 0, 0);
  }
  
  .commentFooter{
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    color: white;
  }
  
  
  
  